﻿@model ViewModels.CollectionEditArtsVM


<h3>Add art to collection</h3>

<body>

    <form asp-action="Art" asp-controller="Collections" method="post">

        @if (Model.AllArtExceptCurrent != null)
        {

            for (var i = 0; i < Model.AllArtExceptCurrent.Count(); i++)
            {   
            <div id="divItem">
                <div>
                    <img src="~/@Url.Content(Model.AllArtExceptCurrent.ElementAt(i).ImagePath + "/" + Model.AllArtExceptCurrent.ElementAt(i).ImageName + "-256.jpg")" Style="Width: 200px" alt="image" />
                </div>
                <div id="oneRow">

                    <input type="text" id="artid" asp-for="@Model.AllArtExceptCurrent[i].ArtId" style="border:none" readonly="readonly" />
                    <input type="text" id="PicName" asp-for="@Model.AllArtExceptCurrent[i].Name" style="border:none" readonly="readonly" />

                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].ImagePath" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].Artist" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].ImageName" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].ImageOriginal" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].ImageWidths" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].Description" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].Created" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].Price" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].PriceText" />
                    <input type="hidden" asp-for="@Model.AllArtExceptCurrent[i].Updated" />

                </div>
                <div class="chk">
                    <input type="checkbox" asp-for="@Model.AllArtExceptCurrent[i].Hidden" />

                    <label>Choose this</label>
                </div>
            </div>
            }
        }
        <p id="clearFloat" />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
            <p></p>
            <a asp-action="Edit" asp-route-id="@Model.Collection.CollectionId">Back to Edit </a>

        </div>

        <div id="divCollectionInfo">
            <div class="divCollection">
                <label class="lblCollection" asp-for="Collection.CollectionId"></label>
                <span><input class="txtCollection" type="text" asp-for="Collection.CollectionId" readonly="@(true)" style="border:none" /></span>
            </div>
            <div class="divCollection">
                <label class="lblCollection" asp-for="Collection.Name"></label>
                <span><input class="txtCollection" type="text" asp-for="Collection.Name" readonly="@(true)" style="border:none" /></span>
            </div>
            <div class="divCollection">

                <label class="lblCollection" asp-for="Collection.Description"></label>
                <span><input class="txtCollection" type="text" asp-for="Collection.Description" readonly="@(true)" style="border:none" /></span>
            </div>
        </div>


    </form>

</body>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #divItem {
        width: 210px;
        float: left;
        padding: 5px;
        border: 1px;
        border-collapse: collapse;
        margin: 5px;
        outline-color: lightgray;
        outline-width: 1px;
        outline-style: solid;
    }
    #artid {
        float: left;
        margin-right: 10px;
        width:5%;
    }

    #oneRow {
        display: flex;
        flex-direction: row;
        /*display:inline-block;*/
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    /*
    #PicName {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        */
    #clearFloat {
        clear: left;
    }
    

    input[type='checkbox'] {
        float: left;
        margin-right: 10px;
    }

    .txtCollection {
        float: right;
        margin-left: 10px;
    }

    .divCollection {

        display: flex;
        /*flex-direction: row;*/
        /*display: inline-block;*/
    }
    .lblCollection {
        display: inline-block;
        width: 100px;
        text-align:right;
    }
    #divCollectionInfo {
        /*width: 30%;
        padding: 5px;
        outline-color: lightgray;
        outline-width: 1px;
        outline-style: solid;*/

    }
      


</style>

