@*@model Models.Collection*@
@model ViewModels.CollectionEditVM

@{
    ViewData["Title"] = "Edit";

    @*ViewData["ArtId"] = "Edit";*@
}

<h2>Edit</h2>

<h4>Collection</h4>
<hr />
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-controller="Collections" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Collection.CollectionId" />

                <div class="form-group">
                    <label asp-for="Collection.Name" class="control-label"></label>
                    <input asp-for="Collection.Name" class="form-control" />
                    <span asp-validation-for="Collection.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collection.Description" class="control-label"></label>
                    <input asp-for="Collection.Description" class="form-control" />
                    <span asp-validation-for="Collection.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collection.Created" class="control-label"></label>
                    <input asp-for="Collection.Created" class="form-control" readonly="@(true)" />
                    <span asp-validation-for="Collection.Created" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collection.Updated" class="control-label"></label>
                    <input asp-for="Collection.Updated" class="form-control" readonly="@(true)" />
                    <span asp-validation-for="Collection.Updated" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <a asp-action="Art" asp-route-id="@Model.Collection.CollectionId">Get more pictures </a>
                </div>


                <p id="clearFloat" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>

            </form>
        </div>

        <p id="clearFloat"></p>

        <hr />


        @if (Model.CollectionsArt != null)
        {

            for (var i = 0; i < Model.CollectionsArt.Count(); i++)
            {
        <div id="divItem">
            <div id="innerBlock">
                <img src="~/@Url.Content(Model.CollectionsArt.ElementAt(i).ImagePath + "/" + Model.CollectionsArt.ElementAt(i).ImageName + "-256.jpg")" Style="Width: 200px;" alt="image" />
            </div>
            <div id="oneRow">

                <input type="text" id="artid" asp-for="@Model.CollectionsArt[i].ArtId" style="border:none" readonly="readonly" />
                <input type="text" id="PicName" asp-for="@Model.CollectionsArt[i].Name" style="border:none" readonly="readonly" />

            </div>

            <a asp-action="RemoveArt" asp-route-id="@Model.Collection.CollectionId" asp-route-artId="@Model.CollectionsArt[i].ArtId" >Remove art</a>

        </div>
            }
        }

    <p id = "clearFloat" ></p>


</div>
                

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #innerBlock {
        /*display: inline-block;
        float: left;*/
    }
    #divItem {
        /*display: inline-block;*/
        width: 210px;
        float: left;
        padding: 5px;
        border: 1px;
        border-collapse: collapse;
        margin: 5px;
        outline-color: lightgray;
        outline-width: 1px;
        outline-style: solid;
    }
    #oneRow {
        display: flex;
        flex-direction: row;
        /*display:inline-block;*/
    }
    #artid {
        float: left;
        margin-right: 10px;
        width: 5%;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #clearFloat {
        clear: left;
    }
</style>