﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ViewModels.CollectionEditVM

@{

}


<h3>Remove pictures from current collection</h3>

<body>


    <p id="clearFloat"></p>

    <hr />


    @if (Model.CollectionsArt != null)
    {

        for (var i = 0; i < Model.CollectionsArt.Count(); i++)
        {
            <div id="divItem">
                <div id="innerBlock">
                    <img src="~/@Url.Content(Model.CollectionsArt.ElementAt(i).ImagePath + "/" + Model.CollectionsArt.ElementAt(i).ImageName + "-256.jpg")" Style="Width: 200px;" alt="image" />
                </div>
                <div id="oneRow">

                    <input type="text" id="artid" asp-for="@Model.CollectionsArt[i].ArtId" style="border:none" readonly="readonly" />
                    <input type="text" id="PicName" asp-for="@Model.CollectionsArt[i].Name" style="border:none" readonly="readonly" />

                </div>

                @Html.ActionLink("Remove", "RemoveArt", "Collections", new { id = Model.Collection.CollectionId, artId = Model.CollectionsArt[i].ArtId }, null)


            </div>
        }
    }

    <p id="clearFloat"></p>



    <div>
        <a asp-action="Edit" asp-route-id="@Model.Collection.CollectionId">Back to Edit</a>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #innerBlock {
        /*display: inline-block;
        float: left;*/
    }

    #divItem {
        /*display: inline-block;*/
        width: 210px;
        float: left;
        padding: 5px;
        border: 1px;
        border-collapse: collapse;
        margin: 5px;
        outline-color: lightgray;
        outline-width: 1px;
        outline-style: solid;
    }

    #oneRow {
        display: flex;
        flex-direction: row;
        /*display:inline-block;*/
    }

    #artid {
        float: left;
        margin-right: 10px;
        width: 5%;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #clearFloat {
        clear: left;
    }
</style>