﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ViewModels.CollectionEditArtsVM

<form action="/ViewModels/CollectionEditArtsVM" method="post">


    @foreach (var item in Model.AllArts)
    {

        <img src="~/@Url.Content(item.ImagePath + "/" + item.ImageName + "-256.jpg")" alt="Image" style="width: 180px" />


        <input id="ChkImageName" name="checkImage" type="checkbox" value="true" />
        <input name="checkImage" type="hidden" value="false" />


        <input type="submit" value="Login" />
    }
   


</form>
