@model Models.CollectionArt

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CollectionArt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Art)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Art.ArtId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collection.CollectionId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
