@model IEnumerable<Models.CollectionArt>

@{
    ViewData["Title"] = "Index";
}

<h2>Connection table</h2>

<p>
    List of connections between Collection and Art sorted by collection, then by art.
</p>
<div id="tableDiv">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Collection)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Collection.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Art)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Art.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Collection.CollectionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collection.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Art.ArtId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Art.Name)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<style>
    #tableDiv {
        width: 80% ;
    }

    table {
        border-collapse: collapse;
        width: 70%;
    }

    th, td {
        text-align: center;
        padding: 8px;
        width: 25%;

    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

</style>