﻿@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style type="text/css">

        @@font-face {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            src: url("Trebuchet MS.woff"), Helvetica, sans-serif;
        }
        .font {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            letter-spacing: 1px;
        }
        #firstPage {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            letter-spacing: 1px;
            background-color: #efefef;
            padding: 15px;
        }
    </style>
</head>

<div>
    <h2 class="font"> Welcome to Artmanager</h2>
    <div id="firstPage" class="font" >
        
            Manage your pictures of Art in collections.
            You can use common picture in different collections (many to many).

            Save pictures to few picture sizes: - original - 2048 - 512 - 256 pixles in width.
            Squarify picture to fit websites as webshops etc.
            All sizes except original are squarified without stretch or cuting.
            If picture are not square ArtManager add white blancs above and under or besides depending the original picture.

            Pictures are stored for every size with common GUID-name in folder hierarchy created in year/month/day.
            If picture will bi releted the system delete all files with the GUID-name.
        
    </div>
    
    <h3><a asp-controller="Art" asp-action="Create">Add New Art</a></h3>


</div>


<div class="row">


</div>

