@model Models.Art

@{
    ViewData["Title"] = "Create";
}

<h2>Create New</h2>

<hr />
<div class="row">
    <div class="col-md-4">

            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div class=form-group>
                    <label class="control-label" id="picture">Picture</label>
                    <input type="file" onchange="previewFile()" accept="image/*" ID="fileInput" name="ImgFile" runat="server"><br />
                    <label class="text-danger" id="lblWarning"></label>
                    <div id="divBild">
                        <img src="" alt="Preview pic shown here" id="imgPreview">
                    </div>
                </div>

                <script>
                    function previewFile() {
                    var preview = document.querySelector('#imgPreview');
                    var file = document.querySelector('input[type=file]').files[0];
                    var reader = new FileReader();


                    reader.onload = function(){
                        var img = new Image;
                        img.src = reader.result;
                            var w = img.width;
                            var h = img.height;
                            document.getElementById("picture").innerHTML = "Picture format " + h +"x"+ w ;
                            if (h < 250){
                                document.getElementById("lblWarning").innerHTML = "<h3>" + h +"x"+ w + " is too small picture, choose another!</h3>  Get format bigger than 250x250" ;

                            } else if (w < 250){
                                document.getElementById("lblWarning").innerHTML = h +"x"+ w + "<h3> Too small picture, choose another!</h3> Get format bigger than 250x250" ;
                            }
                    }

                    reader.addEventListener("load", function() {
                        preview.src = reader.result;
                    }, false);

                      if (file) {
                        reader.readAsDataURL(file);

                      }



                    @*document.getElementById("picture").innerHTML = file.size;*@

                        @*//reader.document.getElementById('fileInput', myfunction);
                        //function myfunction(){
                        //document.getElementById(("picture").innerHTML = file.size);*@

                        @*//input = document.getElementById('fileInput');
                        //if(file.size < (200 * 200)){
                        //document.getElementBy("picture").innerHTML = "Too small picture";
                        //}*@
                    }


                </script>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Artist" class="control-label"></label>
                    <input asp-for="Artist" class="form-control" />
                    <span asp-validation-for="Artist" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceText" class="control-label"></label>
                    <input asp-for="PriceText" class="form-control" />
                    <span asp-validation-for="PriceText" class="text-danger"></span>
                </div>*@


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #divBild {
        height: 300px;
        width: 300px;
        margin: auto;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
    }

    #imgPreview {
        max-height: 300px;
        max-width: 300px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>