@model Models.Art

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>All stored sizes of picture</h4>
    <hr />
    <dl class="dl-horizontal">
        
            The first picture are the original without manipulation.


        @if (Model.ImagePath != null)
        {
            string[] picSizes = Model.ImageWidths.Split(',');
            foreach (string picSize in picSizes)
            {
                if (picSize != "")
                {
                     <dd>
                         Width @picSize <br/>
                         <img src="~/@Url.Content(Model.ImagePath + "/" + Model.ImageName + "-" + picSize + ".jpg")" alt="Image" />
                    
                     </dd>
                }
            }

        }


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageWidths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageWidths)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArtId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>

   img{
      
        padding: 0px;
        border: 1px;
        margin-bottom: 5px;
        outline-color: lightgray;
        outline-width: 1px;
        outline-style: solid;
   }

</style>