@model Models.Art

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Art</h2>

<hr />
<div class="row">
    <div class="col-md-4">

          <form asp-action="Edit" enctype="multipart/form-data">
              <label id="lblPicture"></label>
              <label class="text-danger" id="lblWarning"></label>
                <div id="divBild">
                    <img src="~/@Url.Content(Model.ImagePath + "/" + @Model.ImageName + "-512.jpg" )" id="imgPreview" alt="Nuvarande bild" /> <br />
                    <label id="divBildLabel" class="divBildLabel" style="font-weight: Bold; color: red">@ViewBag.pictureMessage</label>
                </div>


                <h5>Change picture</h5>
                <input type="file" onchange="previewFile()" accept="image/*" ID="fileInput" name="ImgFile" runat="server">

                <script>
                function previewFile() {
                var preview = document.querySelector('#imgPreview');
                var file    = document.querySelector('input[type=file]').files[0];
                var filesize = document.querySelector('input[type=file]').files[0].size;
                var reader  = new FileReader();


                    reader.onload = function(){
                        var img = new Image;
                        img.src = reader.result;
                            var w = img.width;
                            var h = img.height;
                            document.getElementById("lblPicture").innerHTML = "Picture format " + h +"x"+ w ;
                            if (h < 250){
                                document.getElementById("lblWarning").innerHTML = "<h3>" + h +"x"+ w + " is too small picture, choose another!</h3> Get format bigger than 250x250" ;

                            } else if (w < 250){
                                document.getElementById("lblWarning").innerHTML = "<h3>" + h +"x"+ w + " is too small picture, choose another!</h3> Get format bigger than 250x250" ;
                            }
                    };


                reader.addEventListener("load", function () {
                    preview.src = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                    document.getElementById("divBildLabel").style.visibility = "hidden" ;
                };



             }

                </script>


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ArtId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Artist" class="control-label"></label>
                    <input asp-for="Artist" class="form-control" />
                    <span asp-validation-for="Artist" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceText" class="control-label"></label>
                    <input asp-for="PriceText" class="form-control" />
                    <span asp-validation-for="PriceText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageName" class="control-label"></label>
                    <input asp-for="ImageName" class="form-control" />
                    <span asp-validation-for="ImageName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageWidths" class="control-label"></label>
                    <input asp-for="ImageWidths" class="form-control" />
                    <span asp-validation-for="ImageWidths" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageOriginal" class="control-label"></label>
                    <input asp-for="ImageOriginal" class="form-control" />
                    <span asp-validation-for="ImageOriginal" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Hidden" /> @Html.DisplayNameFor(model => model.Hidden)
                        </label>
                    </div>
                </div>*@
                @*<div class="form-group">
                    <label asp-for="Created" class="control-label"></label>
                    <input asp-for="Created" class="form-control" readonly="@(true)"/>
                    <span asp-validation-for="Created" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Updated" class="control-label"></label>
                    <input asp-for="Updated" class="form-control" readonly="@(true)"/>
                    <span asp-validation-for="Updated" class="text-danger"></span>
                </div>
                <div>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #divBild {
        height: 300px;
        width: 300px;
        margin: auto;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
    }

    #imgPreview {
        max-height: 300px;
        max-width: 300px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>