@model IEnumerable<Models.Art>

@{
    ViewData["Title"] = "Index";
}

<h2>All art</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceText)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageWidths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @if (item.ImagePath != null)
                {
                @*<img src="@Html.DisplayFor(modelItem => item.ImagePath + "/" + @item.ImageName + "-256.jpg")" />*@
                <img src="~/@Url.Content(item.ImagePath + "/" + item.ImageName + "-512.jpg")" alt="Image" style="width:80px" />
                @*<img src="~/Images/@Html.DisplayFor(modelItem => item.ImagePath)/@Html.DisplayFor(modelItem => item.ImageName + "-256.jpg")" alt="Image" style="width:80px" />*@
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceText)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageWidths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtId">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
